<div class="columns is-multiline is-mobile has-text-centered box">
  <div class="column is-one-third">
    <h1 class="title is-2"><%= type.name %> Type</h1>
  </div>

  <div class="column is-one-fifth">
    <h3 class="<%= type.name.downcase %> is-uppercase has-text-centered has-text-weight-bold type-border p-2">
      <%= type.name %>
    </h3>
  </div>
</div>

<div class="box has-background-grey-lighter">
  <h1 class="title is-2"><%= type.name %> Type Pokémon</h1>

  <div class="fixed-grid has-3-cols has-2-cols-mobile">
    <div class="grid">
      <% @pokemons.each do |pokemon| %>
        <%= render partial: "pokemons/pokemon_card", locals: { pokemon: pokemon } %>
      <% end %>
    </div>
  </div>
</div>
