<div class="columns">
  <div class="column has-text-centered has box p-5">
    <img
      src=<%= pokemon.sprite %>
      alt="Image of <%= pokemon.name %>"
      width="500rem"
      class="p-5"
    >

    <div class="subtitle is-3 has-text-grey has-text-weight-bold">
      #<%= pokemon.id %>
    </div>

    <h1 class="title is-1">
      <%= pokemon.name %>
    </h1>

    <div class="subtitle is-4 has-text-weight-medium has-text-grey pt-2">
      <%= pokemon.species.genus %>
    </div>

    <div class="type has-text-centered">
      <div class="is-flex is-flex-wrap-wrap is-justify-content-center">
        <% pokemon.types.each do |type| %>
          <div class="p-2">
            <h3 class="<%= type.name.downcase %> is-uppercase
            has-text-centered has-text-weight-bold type-border p-2"><%= type.name %></h3>
          </div>
        <% end %>
      </div>
    </div>

    <div class="title is-4 has-text-weight-bold is-uppercase p-4">
      Pokédex Entry
    </div>

    <div class="subtitle is-5 has-text-weight-medium has-text-grey p-4">
      <%= pokemon.species.flavor_text %>
    </div>

    <div class="title is-4 has-text-weight-bold is-uppercase p-4">
      Abilities
    </div>

    <div class="columns is-multiline is-mobile is-centered">
      <% pokemon.abilities.each do |ability| %>
        <div class="column is-one-third">
          <h3 class="is-uppercase has-text-centered has-text-weight-bold
          ability-border p-3"><%= ability.name %></h3>
        </div>
      <% end %>
    </div>

    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-one-third">
        <div class="title is-4 has-text-weight-bold is-uppercase p-4">
          Height
        </div>

        <div class="subtitle is-4 has-text-grey has-text-weight-bold p-4">
          <%= pokemon.height.to_f / 10 %>m
        </div>
      </div>

      <div class="column is-one-third">
        <div class="title is-4 has-text-weight-bold is-uppercase p-4">
          Weight
        </div>

        <div class="subtitle is-4 has-text-grey has-text-weight-bold p-4">
          <%= pokemon.weight.to_f / 10 %>kg
        </div>
      </div>
    </div>

    <div class="subtitle is-4 has-text-weight-bold p-4">
      STATS
    </div>

    <div class="columns is-multiline is-mobile is-centered">
      <!-- Left column with stat names -->
      <div class="column is-full-mobile is-one-quarter-tablet is-one-fifth-desktop">
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">HP</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">ATK</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">DEF</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">SpATK</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">SpDEF</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">SPD</div>
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4">TOTAL</div>
      </div>

      <!-- Right column with stat values and progress bars -->
      <div class="column is-full-mobile is-four-fifths-desktop">
        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.hp %></span>
          <progress class="progress is-danger is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.hp %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.attack %></span>
          <progress class="progress is-warning is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.attack %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.defense %></span>
          <progress class="progress is-success is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.defense %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.spatk %></span>
          <progress class="progress is-info is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.spatk %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.spdef %></span>
          <progress class="progress is-link is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.spdef %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.speed %></span>
          <progress class="progress is-primary is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.speed %>" max="255"></progress>
        </div>

        <div class="subtitle is-4-desktop is-6-mobile has-text-weight-bold p-4 is-flex is-align-items-center">
          <span><%= pokemon.total_base_stats %></span>
          <progress class="progress is-danger is-flex-grow-1 ml-3 mr-6"
                    style="width: 70%;" value="<%= pokemon.total_base_stats %>" max="720"></progress>
        </div>
      </div>
    </div>

    <div class="columns is-multiline is-mobile">
      <div class="column">
        <% if Pokemon.exists?(pokemon.id - 1) %>
          <%= link_to "", pokemon_path(pokemon.id - 1), class: "fa-solid fa-chevron-left title is-2" %>
        <% end %>
      </div>

      <div class="column">
        <% if Pokemon.exists?(pokemon.id + 1) %>
          <%= link_to "", pokemon_path(pokemon.id + 1), class: "fa-solid fa-chevron-right title is-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>