<div class="has-text-centered">
  <%= image_tag("pokedex-logo.png", :alt => "Pokedex logo", :class => "m-auto") %>
</div>

<div class="fixed-grid has-3-cols">
  <div class="grid">
    <% Pokemon.all.each do |pokemon| %>
      <div class="cell">
        <div class="card">
          <div class="card-image has-text-centered">
            <figure class="is-inline-block p-5">
              <img
                src=<%= pokemon.sprite %>
                alt="Image of <%= pokemon.name %>"
                class="image is-128x128"
              >
            </figure>
          </div>

          <div class="card-header">
            <div class="card-header-title is-centered title is-3">
              <%= pokemon.name %>
            </div>
          </div>

          <div class="card-content has-text-centered">
            <div class="subtitle is-5 has-text-grey has-text-weight-semibold">N°<%= pokemon.id %></div>

            <div class="type has-text-centered">
              <div class="columns is-centered is-1">
                <% pokemon.types.each do |type| %>
                  <div class="column is-two-fifths">
                    <h3 class="<%= type.name.downcase %> is-uppercase
                    has-text-centered has-text-weight-bold type-border"><%= type.name %></h3>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
