<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pokedex On Rails" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/c31e4ff6de.js" crossorigin="anonymous"></script>
  </head>

  <body class="has-background-grey-lighter">
    <div class="container">
      <div class="has-text-centered">
        <%= link_to image_tag("pokedex-logo.png", :alt => "Pokedex logo", :class => "pt-5 pb-5"), root_path %>
      </div>

      <div class="navbar box">
        <div class="navbar-menu is-flex is-justify-content-center">
          <%= link_to "Pokémon", root_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>

          <%= link_to "Types", types_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>

          <%= link_to "Abilities", abilities_path, :class => "title is-4 navbar-item ml-3 mr-3 mb-0" %>
        </div>
      </div>

      <%= form_with(url: search_results_pokemons_path, method: "get", local: true, class: "p-5") do %>
        <div class="field is-flex">
          <div class="control" style="flex-grow: 1">
            <%= text_field_tag(:query, nil, placeholder: "Search for a Pokémon!", class: "input subtitle is-6 is-fullwidth",
            style: "height: 64px; width: 100%;") %>
          </div>

          <div class="control">
            <%= image_submit_tag("pokeball-logo.png", alt: "Pokéball logo", class: "button p-2 has-background-danger image is-64x64") %>
          </div>
        </div>
      <% end %>

      <div class="section">
        <%= yield %>
      </div>

    </div>

    <footer>Created by: Oscar Rosales</footer>
  </body>
</html>
